.navbar{
    font-size: 16px;             /* tamaño de texto */
    letter-spacing: 1px;         /* espacio entre letras */
}

.navbar .nav-link{
    color: #fff;                /* color del texto*/
    transition: 0.3s;             /* tiempo de respuesta del mouse*/
}

.navbar .nav-link:hover{
    color: #ffc107;               /* cambia a amarillo al pasar el mouse */
}

.navbar-nav .nav-item {
    display: inline-flex; /* mantiene el enlace y el separador en línea */
    align-items: center;  /* centra verticalmente */
}

.navbar-nav .nav-item:not(:last-child)::after{
    display: inline-block;
    content: "|"; 
    color: #fff;
    margin-left: 8px;
    margin-right: 8px;
}

.navbar .nav-brand{
    margin: auto;
}

/* ====== Boton de Mas ====== */
.dropdown-menu{
    background-color: #343a40;
    border-radius: 5px;    
}

.dropdown-menu .dropdown-item{
    color: #1a1919;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #ffc107; /* amarillo al pasar el mouse */
    color: #000;
}

/* ====== FORMULARIO DE BÚSQUEDA ====== */
.formulario input{
    border-radius: 5px;            /* bordes redondeados */
}
.formulario button{
    font-weight: bold; 
}

/* ====== Barra de abajo ====== */

html ,body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

section{
    flex: 1;
}

footer{
    margin-top: auto;
}

/* ====== SECCIÓN PRINCIPAL ====== */
#extracto {
    text-align: right;
    margin-top: auto;
}

#extracto p {
    font-size: 18px;
    color: #333;
}

/* Imagen responsiva */
#extracto img {
    max-height: 500px;        /* altura máxima */
    object-fit: cover;        /* recorta si es necesario */
    border-radius: 8px;       /* esquinas redondeadas */
}

/* ====== FOOTER ====== */
#Creador {
    text-align: left;       /* centra el texto */
    font-size: 14px;
    color: #333;
}

#Creador p {
    margin: 0;
}

#video iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   /* ancho total */
    height: 100vh;  /* alto total */
    border: none;
}

/* ====== Texto pestaña sucursal ====== */

.info-sucursal p {
    margin-bottom: 8px;   /* espacio entre párrafos */
}

.info-sucursal h2, 
.info-sucursal h3 {
    margin-top: 10px;   /* espacio antes de los títulos */
    margin-bottom: 15px;   /* espacio después de los títulos */

}

/* ===== FORMULARIO DE CONTACTO ===== */

.formulario-contacto {
    max-width: 650px;
    margin: 30px auto; /* Margen arriba y abajo / izq y der*/
    border: 2px solid #333;
    background-color: #eeeeee;
    padding: 25px; /* Espacio interno */
}

.titulo-contacto {
    text-align: center;
    background-color: #cccccc;
    padding: 12px; /* Espacio interno */
    margin: -25px -25px 25px -25px;
    font-size: 18px;
}

.formulario-contacto label {
    font-size: 12px;
}

.formulario-contacto input,
.formulario-contacto textarea {
    border: 2px solid #333;
    border-radius: 0;
}

.formulario-contacto button {
    margin-top: 15px; /* Espacio arriba */
    padding: 15px 45px; /* Espacio interno */
    border: 2px solid #333;
    border-radius: 0;

}